:root {
  /* Colors */
  --text-primary: #111111;
  --text-secondary: #3a3a3a;
  --text-tertiary: #6e6e6e;
  --text-opposite: #f7f7f7;
  --accent-color: #00939d;
  --accent-color-hover: #006168;
  --background-primary: #ffffff;
  --background-secondary: #e8e8e8;
  --background-hover: #dee1e1;
  --header-color: #f3f6f6b5;
  --border-color-primary: #9ca1a1;
  --border-color-secondary: #818989;

  /* Sizes */
  --header-height: 2.6rem;
}

[data-theme="dark"] {
  --text-primary: #f7f7f7;
  --text-secondary: #dcdcdc;
  --text-tertiary: #a4a4a4;
  --text-opposite: #111111;
  --accent-color: #148787;
  --accent-color-hover: #009090;
  --background-primary: #131313;
  --background-secondary: #262727;
  --background-hover: #2e3030;
  --header-color: #303131d6;
  --border-color-primary: #3a3a3a;
  --border-color-secondary: #b8b8b8;
}

/* This selects all elements and sets some sensible default properties */
* {
  box-sizing: border-box; /* Make width and height properties on elements more intuitive  */
  padding: 0; /* This resets the default paddings to 0 */
  margin: 0; /* This resets the default margins to 0 */
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; /* This adds a smooth transition to color, background-color, and border-color */
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-primary);
}

body {
  background-color: var(--background-primary);
  /* border: 1px solid red; <-- this is how I can see border visually*/
  padding-top: calc(var(--header-height) + 1rem);
}

h2 {
  color: var(--accent-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0.5rem;
}

h3,
h4 {
  color: var(--text-secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  color: var(--text-tertiary);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
}

section,
#messageForm,
#messages {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0 20px;
  transition: boder 0s;
}

#About:hover,
#Experience:hover,
#Projects:hover,
#Skills:hover {
  border-left: 1px solid var(--accent-color);
  transform: translateX(-1px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color-primary);
  background-color: var(--header-color);
  backdrop-filter: blur(10px);
  z-index: 2;
}

#header-content {
  width: 100%;
  height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav {
  height: 100%;
  display: flex;
}

header a {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  text-decoration: none;
  height: 100%;
  font-size: calc(var(--header-height) * 0.35);
  padding: 0 1rem;
  line-height: var(--header-height);
  border-left: 1px solid var(--background-secondary);
  border-right: 1px solid var(--background-secondary);
}

header a:hover {
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

#social-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

#social-links li {
  height: 100%;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid,
.fa-brands {
  color: var(--text-secondary);
}

#header-content a:hover .fa-solid,
#header-content button:hover .fa-solid,
#header-content a:hover .fa-brands {
  color: var(--accent-color);
}

#header-content .fa-solid,
#header-content .fa-brands {
  font-size: calc(var(--header-height) * 0.5);
}

#light-dark-mode-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-secondary);
  width: calc(var(--header-height) * 1.1);
  border: none;
  height: 100%;
  border-left: 1px solid var(--background-secondary);
  border-right: 1px solid var(--background-secondary);
}

#light-dark-mode-toggle-button:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

#hero-section h1 {
  color: var(--text-secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--background-primary);
  border: 1px solid var(--border-color-primary);
  border-radius: 1rem;
  z-index: 1;
  padding: 0 2rem;
  pointer-events: none;
}

#hero-section:hover h1 {
  border-color: var(--accent-color);
}

#hero-border {
  position: absolute;
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  width: 100%;
  max-width: 58rem;
  height: 20rem;
  transform: translateY(2rem);
  background-color: var(--background-primary);
  pointer-events: none;
}

#hero-section:hover #hero-border {
  border: 1px solid var(--accent-color);
}

#headshot {
  width: 250px;
  height: auto;
  border: 3px solid var(--background-secondary);
  display: block;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}

#About {
  margin-top: 2rem;
}

#messages {
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-color: var(--background-secondary); /* Dark gray-ish black background */
  border-radius: 8px;
}

#messageForm {
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-color: var(--background-secondary); /* Dark gray-ish black background */
  border-radius: 8px;
}

#messageForm input,
#messageForm textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color-secondary);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--background-secondary);
  color: var(--text-primary);
}

#messageForm input:hover,
#messageForm textarea:hover {
  background-color: var(--background-hover);
}

#messageForm input:focus-visible,
#messageForm textarea:focus-visible {
  outline: 1px solid var(--accent-color);
}

#messageForm button[type="submit"] {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  color: var(--text-opposite);
  background-color: var(--accent-color); /* var(--accent-color) submit button */
  border: none;
  border-radius: 5px; /*rounding around button corners*/
  cursor: pointer;
}

#messageForm button[type="submit"]:hover {
  background-color: var(--accent-color-hover);
}

.footerSection {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--background-secondary);
}

.footerSection p {
  color: var(--text-secondary);
}

/* 
Note to Mentor: Not sure how CSS code stil works without this part
nav {
  display: flex;
    justify-content: center;
  border: 1px solid red;
}
  */

.job {
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  background-color: var(--background-primary);
}

.job:hover {
  border-color: var(--accent-color);
}

.job-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

#Skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#Skills ul li {
  background-color: var(--background-secondary);
  border-radius: 0.4rem;
  color: var(--text-primary);
  padding: 0.5rem;
  cursor: pointer;
}

#Skills ul li:hover {
  background-color: var(--background-hover);
}

.job:hover h3 {
  color: var(--accent-color);
}

.job-heading h3 {
  font-weight: semibold;
}

.job-heading p {
  font-style: italic;
}

a {
  color: var(--text-primary);
}

a:hover {
  color: var(--accent-color);
}

.connectSection {
  display: flex;
  flex-direction: column;
}

.connectSection ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#mobile-menu-button {
  background-color: transparent;
  border: none;
  display: none;
}

.project {
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  margin: auto;
  margin-bottom: 1rem;
  background-color: var(--background-primary);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header h3 {
  font-weight: semibold;
}

.project-header p {
  font-style: italic;
}

.project:hover {
  border-color: var(--accent-color);
}

.project:hover h3 {
  color: var(--accent-color);
}

.project a {
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 1rem;
}

.hidden {
  display: none;
}

/*
Tablet Styles
*/

@media screen and (max-width: 768px) {
  #mobile-menu-button {
    margin-left: auto;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #header-content {
    background-color: var(--background-secondary);
  }

  #social-links {
    margin: 0;
  }

  #navbar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    border: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-secondary);
    z-index: 3;
  }

  #navbar.hide-mobile {
    display: none;
  }

  #navbar a {
    display: block;
    border: none;
    border-bottom: 1px solid var(--border-color-primary);
    width: 100%;
    text-align: center;
  }

  #navbar a:hover {
    background-color: var(--background-hover);
  }

  h1 {
    font-size: 2.3rem;
  }
}

/*
Mobile Styles
*/

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .job-heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* 
    INFO I DON'T WANT TO LOSE
    nav ul {
      display: flex;
      border: 1px solid red;
    }
*/
