body {
  background-color: black;
  padding: 0 20px;
  /* border: 1px solid red; <-- this is how I can see border visually*/
  margin: 0;
}

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  text-align: center;
}

h2 {
  color: teal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3,
h4 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
}

img {
  width: 250px;
  height: auto;
  border: 3px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
Note to Mentor: Not sure how CSS code stil works without this part
nav {
  display: flex;
    justify-content: center;
  border: 1px solid red;
}
  */

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

nav ul li {
  font-size: 14px;
}

#Experience h3 {
  /* margin: auto; --> */
  width: 50%;
  border: 2px solid white;
  padding: 30px;
  margin: 20px;
  font-style: italic;
}

a:link {
  color: white;
}

a:visited {
  color: gray;
}

a:hover {
  color: teal;
}

a:active {
  color: red;
}

.experienceSection {
  width: 90%;
  border: 2px solid white;
  padding: 10px;
  margin: 0 auto;
  font-style: italic;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
}

.connectSection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.connectSection ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/*
MOBILE DEVICE
*/

@media screen and (max-width: 360px) {
  /*Week 12 assignment: first thing changed is (1) navigation display and (2) colors (below)*/
  nav ul {
    flex-direction: column;
    color: white;
  }

  /*Week 12 assignment: second thing changed is (1) picture width and (2) picture border*/
  img {
    width: 150px;
    border: 3px solid #2b7ae2;
  }
  /*Week 12 assignment: third thing changed is (1) name size and (2) color */

  h1 {
    color: red;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
  }

  /*Week 12 assignment: fourth (extra) thing changed is header colors*/

  h2,
  h3,
  h4 {
    color: red;
  }

  /*Week 12 assignment: as mentioned above...the first thing changed is nav (above) ul and colors*/

  nav a:link {
    color: #2b7ae2;
  }

  nav a:visited {
    color: gray;
  }

  nav a:hover {
    color: yellow;
  }

  nav a:active {
    color: red;
  }
}

/*@media screen and (max-width: 800px) {
      nav ul {
        flex-direction: column;
      }
    }*/

/* 
    INFO I DON'T WANT TO LOSE
    nav ul {
      display: flex;
      border: 1px solid red;
    } */