/* This selects all elements and sets some sensible default properties */
* {
  box-sizing: border-box; /* Make width and height properties on elements more intuitive  */
  padding: 0; /* This resets the default paddings to 0 */
  margin: 0; /* This resets the default margins to 0 */
}

html {
  scroll-behavior: smooth;
  background-color: #111111;
}

body {
  background-color: #111111;
  /* border: 1px solid red; <-- this is how I can see border visually*/
  padding-top: 4rem;
}

h1 {
  color: #dcdcdc;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #111111;
  border: 1px solid #3a3a3a;
  border-radius: 1rem;
  z-index: 1;
  padding: 0 2rem;
  pointer-events: none;
  transition: all 0.2s;
}

#hero-section:hover h1 {
  border-color: teal;
}

h2 {
  color: teal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0.5rem;
}

h3,
h4 {
  color: #dcdcdc;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  color: #a4a4a4;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

li {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
}

section, #messageForm, #messages {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0 20px;
}

#About:hover,
#Experience:hover,
#Projects:hover,
#Skills:hover {
  border-left: 1px solid teal;
  transform: translateX(-1px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #3a3a3a;
  background-color: #000000b7;
  backdrop-filter: blur(10px);
  z-index: 2;
}

#hero-border {
  position: absolute;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  width: 100%;
  max-width: 58rem;
  height: 20rem;
  transform: translateY(2rem);
  background-color: #111111;
  pointer-events: none;
  transition: all 0.2s;
}

#hero-section:hover #hero-border {
  border: 1px solid teal;
}

#header-content {
  width: 100%;
  max-width: 60rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
}

nav ul li {
  text-decoration: none;
  font-size: 14px;
}

header a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  height: 100%;
  padding: 0.5rem 1rem;
  border-left: 1px solid #272727;
  border-right: 1px solid #272727;
  transition: all 0.5s;
}

header a:hover {
  border-left: 1px solid teal;
  border-right: 1px solid teal;
}

#social-links {
  display: flex;
  align-items: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-links img {
  width: 1.5rem;
  filter: brightness(0.9);
}

#social-links img:hover {
  filter: brightness(1.2);
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

#About {
  margin-top: 2rem;
}

#messages {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-color: #272727; /* Dark gray-ish black background */
  color: #fff; /* White text labels */
  border-radius: 8px;
}

#messageForm {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-color: #272727; /* Dark gray-ish black background */
  border-radius: 8px;
}

#messageForm input[type="text"],
#messageForm input[type="email"],
#messageForm textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffff6b;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #444;
  color: #fff;
}

input:hover,
textarea:hover {
  background-color: #4d4d4d;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid teal;
}

#messageForm button[type="submit"] {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: teal; /* teal submit button */
  color: #fff;
  border: none;
  border-radius: 5px; /*rounding around button corners*/
  cursor: pointer;
}

#messageForm button[type="submit"]:hover {
  background-color: rgb(0, 107, 107);
}

#headshot {
  width: 250px;
  height: auto;
  border: 3px solid #272727;
  display: block;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}

.footerSection {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-top: 1px solid #272727;
}

.footerSection p {
  color: #dcdcdc;
}

/* 
Note to Mentor: Not sure how CSS code stil works without this part
nav {
  display: flex;
    justify-content: center;
  border: 1px solid red;
}
  */

.job {
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  transition: all 0.2s;
  background-color: #111111;
}

.job:hover {
  border-color: teal;
}

.job-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

#Skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#Skills ul li {
  background-color: #272727;
  border-radius: .4rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

#Skills ul li:hover {
  background-color: #303030;
}

.job:hover h3 {
  color: teal;
}

.job-heading h3 {
  font-weight: semibold;
  transition: all 0.2s;
}

.job-heading p {
  font-style: italic;
}

a:link {
  color: rgb(224, 224, 224);
}

a:visited {
  color: gray;
}

a:hover {
  color: teal;
}

a:active {
  color: red;
}

.connectSection {
  display: flex;
  flex-direction: column;
}

.connectSection ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#mobile-menu-button {
  background-color: transparent;
  border: none;
  display: none;
}

.hidden {
  display: none;
}

/*
Tablet Styles
*/

@media screen and (max-width: 768px) {
  #mobile-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #close-mobile-menu-icon, 
  #open-mobile-menu-icon {
    height: 1.2rem;
  }
  
  #close-mobile-menu-icon {
    padding-right: 4px;
  }

  #header-content {
    background-color: black;
  }

  #navbar {
    position: fixed;
    width: 100%;
    top: 2rem;
    left: 0;
  }

  #navbar.hide-mobile {
    display: none;
  }
  
  #navbar ul {
    border: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    z-index: 3;
  }

  #navbar li {
    width: 100%;
  }

  #navbar a {
    display: block;
    border: none;
    border-bottom: 1px solid #272727;
    width: 100%;
    text-align: center;
  }

  #navbar a:hover {
    background-color: #272727;
  }

  h1 {
    font-size: 2.3rem;
  }
}

/*
Mobile Styles
*/

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .job-heading {
    flex-direction: column;
    align-items: flex-start;
  }
}


  

/* 
    INFO I DON'T WANT TO LOSE
    nav ul {
      display: flex;
      border: 1px solid red;
    }
